<div class="transitionWorks"></div>
<section class="heroSection column aboutMePage">
  <div class="wrapperTextAbout ">
    <div class="wrapperTitleWorks">
      <h2 class="titleWorks">About Me</h2>
    </div>
    <p class="aboutWorks">
      My name is Mattia Yaghmai, and I’m a creative web developer with a passion
      for transforming complex ideas into compelling digital experiences. Born
      in Italy in 1989, my journey has taken me through diverse fields and
      across different countries, from the Netherlands to France in 2024,
      shaping the professional I am today.I’ve never been one to follow the
      usual path.
    </p>

    
    <p class="aboutWorks">
      With a background in literature, history, and journalism, my early years
      were spent honing my writing skills at a newspaper. Yet, it was here that
      I discovered a new passion: the power of design. Watching how visual
      elements—infographics, maps, and page layouts—could distill complex ideas
      into simple, clear messages, I saw an opportunity to merge creativity with
      communication. This realization led me to pursue design, and eventually,
      motion graphics inspired by channels like Vox and Le Monde.
    </p>
    <p class="aboutWorks">
      But I knew there was still something missing: coding. To truly bring my
      ideas to life, I needed to understand the building blocks of the web.
      Diving deep into programming, I mastered C and specialized in JavaScript,
      opening up new possibilities for innovation and interaction. Today, as an
      independent creative, I combine all my skills—research, design, and
      coding—to create websites that are not only functional but meaningful.
    </p>
    <p class="aboutWorks">
      For me, design is the fusion of meaning, form, and function, creating a
      message that is coherent and accessible. That’s what I strive to achieve
      in my work: to uncover the essential and bring it to light. What are you
      looking for in your work? How can I help you achieve your goals? Let's
      collaborate to find the best strategy and bring your vision to life.
    </p>
  </div>
</section>
