<div class="transitionWorks is-active"></div>
<section class="heroSection column mapPage">
  <div class="wrapperTextAbout mapGrid">
    <div class="containerHeroWork">
      <div class="wrapperTitleWorks">
        <h2 class="titleWorks">Maps and Infographics</h2>
      </div>
      <p class="aboutWorks">
        Maps were my gateway into the world of design. Their elegance and rich
        layers of meaning allow complex concepts to be understood at a glance,
        seamlessly merging geography with data or detailed narratives. To craft
        my maps, I rely on geographic software such as QGIS, which, when
        combined with SQL and Python, enables precise data selection and
        representation. I then refine the visuals with Adobe Illustrator, adding
        a layer of aesthetic sophistication to the final product. A key area of
        expertise is georeferencing historical maps and reimagining them through
        a modern lens. My work has been published in both print and digital
        formats.
      </p>
      
    </div>
      <!-- <div class="containerGifMap">
        <img class="gifMap" src="/public/img/gifMap2.gif" alt="" />
      </div> -->
  </div>
  <!-- CONTAINER IMAGES -->
  <!--  -->
  <div class="imgContainer">
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img class="imgMap" src="/public/img/Print_trial_02-01.webp" alt="" />
      </div>
      <p class="descriptionMap">questa è una mappa che mi sembra bella</p>
    </div>
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img class="imgMap" src="/public/img/EuropeXCentury(2)-6-9-01.webp" alt="" />
      </div>
      <p class="descriptionMap">questa è una mappa che mi sembra bella</p>
    </div>
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img
          class="imgMap"
          src="/public/img/2_QATAR BLOCKADE_Air routes map_3000px(1).webp"
          alt=""
        />
      </div>
      <p class="descriptionMap">questa è una mappa che mi sembra bella</p>
    </div>
  </div>
</section>
