<div class="modalWrapper">
  <div class="modalMenu">
    <div class="close-btn" id="closeMenu"></div>
    <ul class="nav__linksModal">
      <li class="nav__items ">
        <a class="nav__link menuModalReveal" href="/aboutMe">Who I am</a>
      </li>
      <li class="nav__items ">
        <a class="nav__link menuModalReveal" href="/webDevelopment">Web Development</a>
      </li>
      <li class="nav__items ">
        <a class="nav__link menuModalReveal" href="/maps">Maps</a>
      </li>
      <li class="nav__items ">
        <a class="nav__link menuModalReveal" href="/motionGraphics">Motion Graphics</a>
      </li>
      
      <li class="nav__items">
        <a class="nav__link menuModalReveal nav__link--btn btn--show-modal" href="#section--4"
          >hire Me</a
        >
      </li>
    </ul>
  </div>
</div>
