<nav class="nav1">
  <div class="navBack"></div>
  <a href="/">
    <video
      class="nav__logo animatedLogo"
      id="logo"
      muted
      once
      autoplay
      playsinline
      disablePictureInPicture
      src="../public/img/Mylogo2.webm"
      alt="video showing a code that transforms into internet pages."
    ></video>
  </a>
  <div id="menuToggle" class="show-modal menu-burger">
    <span></span>
    <span></span>
    <span></span>
  </div>
</nav>

<nav class="nav">
  <div class="navBack"></div>
  <a href="/">
    <video
      class="nav__logo animatedLogo"
      id="logo"
      muted
      once
      autoplay
      playsinline
      disablePictureInPicture
      src="../public/img/Mylogo2.webm"
      alt="video showing a code that transforms into internet pages."
    ></video>
  </a>
  <ul class="nav__links">
    <li class="nav__item">
      <a class="nav__link" href="#section--1">About Me</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--2">Web Development</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--3">My Work</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#section--4">Hire me</a>
    </li>
  </ul>
</nav>
