body,
h1,
h2,
h3,
h4,
h5,
p,
section{
  position: relative;
}

figure,
picture {
  margin: 0;
}
p {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.8rem;
  margin-bottom: 0.8rem;
}
article {
  font-size: 1.8rem;
}

section {
 width:calc(100vw - 40px);
}
html {
  font-size: 10px;
  height: fit-content;
}
.fixedOverlay{
  position: fixed;
  width: calc(100vw - 40px);
  height: 100vh;
  background-color: #ffffed;
  z-index: -3;
}
h2 {
  color: #ad7684;
}
p {
  font-size: 1.8rem;
}
h2 {
  font-size: 2.8rem;
  font-weight: 900;
}
article {
  font-size: 1.8rem;
}
/* a {
  font-size: 2rem !important;
} */
body {
  line-height: 1.5;
  /* height: 26865px !important; */
  overflow-x: hidden;
  font-family: "cormorant garamond", serif;
  font-weight: 300;
  height: 100vh;
  padding: 20px;
  background-color: #ffffed;
  /* background-image: url("../img/background_home.png"); */
  width: calc(100vw - 40px);
}
body::after{
content: "";
  will-change: top left;
  backface-visibility: hidden;
  position: fixed;
  left: 0;
  width: 100%;
  height: 20px;
  background:#ffffed; 
  bottom:0;
}

.siteWrapper {
  width: 98vw;
  /* height: 400vh; */
  /* background-image: url("../img/background_home.png"); */
  position: absolute;
  /* background-color: azure; */
  z-index: -1;
  /* mix-blend-mode: multiply; */
  /* filter: blur(2px); */
}
div {
  margin: 0;
}
.overlaySite {
  position: fixed;
  width: calc(100vw - 40px);
  background-image: url("../img/background_home.png");
  height: 100vh;
  z-index: -2;
  mix-blend-mode: normal;
  opacity: 1;
  left:20px
}
.libre-baskerville-regular {
  font-family: "Bodoni Moda";
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
img,
picture {
  display: block;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.nav {
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 94vw;
  z-index: 100;
  position: absolute;
  top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}
.navBack{
  background-color: bisque;
  width: 100%;
  height: 100%;
  left:0%;
  opacity: 0.6;
  filter: blur(0.2px);
  align-self: center;
  position: absolute;
  z-index: -1;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: #ffffed;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 2.7rem;
  font-weight: bold;

  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* SECTION HERO */
.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow-y: hidden;
}
.wrapperGrid {
  width: 100vw;
  /* height: 58.7rem; */
  display: flex;
  flex-direction: column;
  height: auto;
overflow-x: clip; 
overflow-y: visible; 
  /* grid-template-columns: 39.3164rem 39.3164rem;
  grid-template-rows: 13rem 13rem 28.7rem; */
  /* justify-content: center; */
  align-items: center;
  padding: 2rem;
  margin-top: 10%;
  position: relative;
}
.containerMattiaTit {
  grid-column: 1;
  grid-row: 1;
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerYaghmai {
  grid-column: 2;
  grid-row: 2;
  font-size: 4rem;
  display: flex;
  justify-content: center;

  align-items: center;
}
.rectangle1 {
  grid-column: 2;
  grid-row: 1;
  width: 85%;
  height: 5rem;
  background-color: #ad7684;
}
.rectangle2 {
  grid-column: 1;
  grid-row: 2;
  width: 85%;
  height: 5rem;
  background-color: #ad7684;
}
span {
  font-weight: 500;
  padding-right: 2rem;
  padding-left: 2rem;
}
.WrapperTextHero {
  /* margin-top: 4vh; */
  display: flex;
  grid-row: 3;
  grid-column: 1;
  text-align: center;
  padding: 3rem;
  width: 87%;
  letter-spacing: 0.2rem;
}
/* SECOND SECTION */
.introduction {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperIntroduction {
  align-items: center;
  /* width: 100vw; */
  width: 80%;
  /* justify-content: center; */
}
.textIntroWrap {
  /* width: 60%; */
  order: 2;
  margin-bottom: 1.8rem;
  grid-column: 1;
}
.containerPicture {
  grid-column: 2;
  grid-row: 2 / span 2;
  display: flex;
  justify-content: end;
  margin-bottom: 2rem;
  order: 2;
  width: 50%;
}
.mattiaPic {
  grid-column: 2;
  grid-row: 3 / span 2;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3); /* Ombra nera */
  width: 100%;
  max-width: 30rem;
  min-width: 10rem;
}
.containerMattia {
  position: relative;
}
.etic {
  background-color: #ad7684;
  width: 9rem;
  height: 2rem;
  position: absolute;
  opacity: 0.7;
}
.et1 {
  top: 6px;
  left: -2rem;
  rotate: -27deg;
}
.et2 {
  bottom: 1rem;
  right: -2rem;
  rotate: -27deg;
}
/* SECTION DEV */
.webDev {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.devContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 15%;
  padding: 2rem;
}
/* .titleWebDev {
  /* margin-left: -3rem; */
/* font-size: 3rem; */
/* width: 71rem; */
/* } */
.wrapperParagraph{
  overflow-y: clip;
}
.titleWrapperMap,.titleWrapperVideo,.titleWrapperInfo,.titleWrapperWeb{

  overflow-y: clip;
}
.containerBox {
  display: flex;
  flex-direction: column;
  width: 100%;

  height: 50%;
}
.coverDev {
  background-color: #ad7684;
  width: 100%;
  /* height: 58.3rem; */
  height: 20rem;
  margin-bottom: 1.8rem;
}
.containerTexDev {
  width: 100%;
}
.textDev {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.colDev {
  margin-right: 2vw;
}
/* SECTION VIDEO & MAP */
.videomap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionVM {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.mapContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.videoContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}
.mapBox {
  background-color: #ad7684;
  height: 20vh;
  /* width: 38rem; */
  margin-bottom: 1.8rem;
  /* border-radius: 7rem; */
}
.colMap {
  grid-column: 1;
  /* margin-top: 4vh; */
}
/* .colVideo {
  margin-top: 4vh;
} */
/* CONTACT ME */
footer {
  min-height: 25vh;
  display: flex;
  align-items: end;
  justify-content: center;
}
.contactMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* MEDIA QUERIES */
@media (min-width: 900px) {
  /* section {
    min-height: 100vh;
  } */
   h2{
    font-size: 3rem;
   }
 p{
  font-size: 2.2rem;
 } 
 article{
  font-size: 2.2rem;
 }
  .wrapperGrid {
    width: 78.6328125rem;
    grid-template-columns: 39.3164rem 39.3164rem;
    grid-template-rows: 8rem 8rem auto;
    display: grid;
    /* justify-content: center; */
    row-gap: 1rem;
  }
  .containerMattiaTit {
    font-size: 5rem;
    justify-content: end;
  }
  .containerYaghmai {
    font-size: 5rem;
    justify-content: start;
  }
  .rectangle1 {
    width: 39.3164rem;
    height: 100%;
  }
  .rectangle2 {
    width: 39.3164rem;
    height: 100%;
  }
  .WrapperTextHero {
    text-align: left;
    width: 64.5rem;
  }
  .wrapperIntroduction {
    align-items: unset;
    justify-content: center;
  }
  .textIntroWrap {
    width: 60%;
    grid-column: 1;
  }
  .textIntroWrap {
    grid-row: 1 / span 3;
    width: unset;
  }
  .containerPicture {
    grid-column: 2;
    grid-row: 2 / span 3;
    display: flex;
    justify-content: end;
    margin-bottom: 2rem;
    width: 100%;
  }
  .mattiaPic {
    max-width: 30rem;
  }
  .devContainer {
    width: 78.6328125rem;
  }
  .containerBox {
    width: 78.6328125rem;
  }
  .coverDev {
    height: 25rem;
  }
  .containerTexDev {
    text-align: left;
  }
  .sectionVM {
    width: 78.6328125rem;
    display: grid;
    grid-template-columns: 31.453125rem 15.7265625rem 31.453125rem;
    grid-template-rows: 20rem 65.9774rem;
  }
  .mapContainer {
    font-size: 2rem;
    grid-column: 1;
    grid-row: 1 / span 2;
    display: flex;
    flex-direction: column;
  }
  .videoContainer {
    grid-column: 3;
    font-size: 2rem;
    grid-row: 2 / span 2;
    display: flex;
    flex-direction: column;
  }
  .mapBox {
    width: 31.453125rem;
  }
  .textDev {
    display: flex;
    flex-direction: row;
  }
}

@media (min-width: 1100px) {
  .wrapperGrid {
    width: 100.78rem;
    grid-template-columns: 50.38rem 50.38rem;
    grid-template-rows: 13rem 13rem auto;
    display: grid;
    grid-template-rows: 8rem 8rem 11rem;
    height: 27rem;
    column-gap: 2rem;
    margin-top: 9vh;
  }
  .containerMattiaTit {
    font-size: 7rem;
    justify-content: end;
  }
  .containerYaghmai {
    font-size: 7rem;
    justify-content: start;
  }
  .rectangle1 {
    width: 50.38rem;
    height: 8rem;
  }
  .rectangle2 {
    width: 50.38rem;
    height: 8rem;
  }
  .wrapperIntroduction {
    font-size: 3rem;
  }
  .textIntroWrap {
    grid-row: 1 span 3;
    width: unset;
  }
  .devContainer {
    width: 100.78rem;
  }
  .containerBox {
    width: 100.78rem;
  }
  .sectionVM {
    width: 100.78rem;
    grid-template-columns: 40.312rem 20.156rem 40.312rem;
  }
  .mapBox {
    width: 40.312rem;
  }
}
@media (min-width: 1460px) {
  h2 {
    font-size: 3.5rem;
  }
  article {
    font-size: 2.8rem;
  }
  p {
    font-size: 2.8rem;
  }
  .wrapperGrid {
    width: 137.25rem;
    grid-template-columns: 68.6rem 68.6rem;
    grid-template-rows: 8rem 8rem 11rem;
    height: 27rem;
    column-gap: 2rem;
    margin-top: 9vh;
  }
  .containerMattiaTit {
    font-size: 9rem;
  }
  .containerYaghmai {
    font-size: 9rem;
  }
  .WrapperTextHero {
    letter-spacing: 0.1rem;
    width: 45.3rem;
  }
  .rectangle1 {
    width: 68.6rem;
    height: 8rem;
  }
  .rectangle2 {
    width: 68.6rem;
    height: 8rem;
  }
  .textIntroWrap {
    grid-row: 1 span 3;
    width: 73.1935rem;
  }
  .coverDev {
    height: 30vh;
  }
  .devContainer {
    width: 137.25rem;
  }
  .containerBox {
    width: 137.25rem;
  }
  .sectionVM {
    width: 137rem;
    grid-template-columns: 54.8rem 27.4rem 54.8rem;
  }
  .mapBox {
    width: 54.8rem;
  }
}

@media (min-width: 1920px) {
  h2 {
    font-size: 5rem;
  }
  article {
    font-size: 2.8rem;
  }
  p {
    font-size: 2.8rem;
  }
  .wrapperGrid {
    width: 183rem;
    height: auto;
    grid-template-columns: 89.5rem 89.5rem;
  }
  .containerMattiaTit {
    font-size: 12rem;
  }
  .containerYaghmai {
    font-size: 12rem;
  }
  .rectangle1 {
    width: 89.5rem;
  }
  .rectangle2 {
    width: 89.5rem;
  }
  .devContainer {
    width: 183rem;
  }
  .coverDev {
    height: 40vh;
  }
  .containerBox {
    width: 183rem;
  }
  .sectionVM {
    width: 183rem;
    grid-template-columns: 70rem 43rem 70rem;
  }
  .mapBox {
    width: 70rem;
    height: 40vh;
  }
  .mattiaPic{
    max-width: 50rem;
  }
}
