body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
section {
  min-height: 100vh;
}
html {
  font-size: 10px;
  height: fit-content;
  background-color: #ffffed;
}
h2 {
  color: #ad7684;
}
a {
  font-size: 2rem !important;
}
body {
  line-height: 1.5;
  /* height: 26865px !important; */
  overflow-x: hidden;
  font-family: "cormorant garamond", serif;
  font-weight: 300;
  /* background-image: url("../img/background_home.png"); */
}
.siteWrapper {
  width: 100vw;
  height: 400vh;
  background-image: url("../img/background_home.png");
  position: absolute;
  z-index: -1;
  mix-blend-mode: multiply;
  filter: blur(2px);
}
div {
  margin: 0;
}
.overlaySite {
  background-color: #ffffed;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  mix-blend-mode: lighten;
  opacity: 0.5;
}
.libre-baskerville-regular {
  font-family: "Bodoni Moda";
  font-weight: 400;
  font-style: normal;
}

.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}
img,
picture {
  max-width: 100%;
  display: block;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
.nav {
  background-color: bisque;
  display: flex;
  font-size: 3rem;
  justify-content: space-between;
  align-items: center;
  height: 9rem;
  width: 94vw;
  z-index: 100;
  position: absolute;
  top: 0;
  padding-left: 3rem;
  padding-right: 3rem;
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: #ffffed;
}

.nav__logo {
  height: 4.5rem;
  transition: all 0.3s;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__item {
  margin-left: 4rem;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: bold;

  color: inherit;
  text-decoration: none;
  display: block;
  transition: all 0.3s;
}

.nav__link--btn:link,
.nav__link--btn:visited {
  padding: 0.8rem 2.5rem;
  border-radius: 3rem;
  background-color: var(--color-primary);
  color: #222;
}

.nav__link--btn:hover,
.nav__link--btn:active {
  color: inherit;
  background-color: var(--color-primary-darker);
  color: #333;
}

/* SECTION HERO */
.heroSection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperGrid {
  width: 78.6328125rem;
  height: 58.7rem;
  display: flex;
  flex-direction: column;
  grid-auto-columns: 1fr;
  /* grid-template-columns: 39.3164rem 39.3164rem;
  grid-template-rows: 13rem 13rem 28.7rem; */
  /* justify-content: center; */
  align-items: center;
}
.containerMattia {
  grid-column: 1;
  grid-row: 1;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerYaghmai {
  grid-column: 2;
  grid-row: 2;
  font-size: 5rem;
  display: flex;
  justify-content: center;

  align-items: center;
}
.rectangle1 {
  grid-column: 2;
  grid-row: 1;
  width: 39.3164rem;
  height: 13rem;
  background-color: #ad7684;
}
.rectangle2 {
  grid-column: 1;
  grid-row: 2;
  width: 39.3164rem;
  height: 13rem;
  background-color: #ad7684;
}
span {
  font-weight: 500;
  padding-right: 2rem;
  padding-left: 2rem;
}
.WrapperTextHero {
  margin-top: 4vh;
  display: flex;
  grid-row: 3;
  grid-column: 1;
  text-align: center;
  font-size: 3rem;
  width: 52rem;
  letter-spacing: 0.2rem;
}
/* SECOND SECTION */
.introduction {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapperIntroduction {
  align-items: center;
  font-size: 3rem;
  width: 183rem;
  /* justify-content: center; */
}
.textIntroWrap {
  width: 60%;
  grid-column: 1;
}
.containerPicture {
  grid-column: 2;
  grid-row: 2 / span 2;
  display: flex;
  justify-content: end;
}
.mattiaPic {
  grid-column: 2;
  grid-row: 3 / span 2;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.3); /* Ombra nera */
  max-width: 80%;
}
.containerMattia {
  position: relative;
}
.etic {
  background-color: #ad7684;
  width: 9rem;
  height: 2rem;
  position: absolute;
  opacity: 0.7;
}
.et1 {
  top: 6px;
  left: -2rem;
  rotate: -27deg;
}
.et2 {
  bottom: 1rem;
  right: -2rem;
  rotate: -27deg;
}
/* SECTION DEV */
.webDev {
  align-items: center;
  display: flex;
  justify-content: center;
}
.devContainer {
  display: flex;
  flex-direction: column;
  width: 225.7rem;
}
.titleWebDev {
  margin-left: -3rem;
  font-size: 7rem;
}
.containerBox {
  display: flex;
  flex-direction: column;
  width: 225.7rem;

  height: 58.3rem;
  font-size: 3rem;
}
.coverDev {
  margin-top: 2vh;
  background-color: #ad7684;
  width: 100%;
  outline: solid;
  outline-offset: 3rem;
  height: 58.3rem;
}
.containerTexDev {
  width: 100%;
  margin-top: 8vh;
  height: 30rem;
  font-size: 3rem;
}
.textDev {
  display: flex;
  flex-direction: row;
}
.colDev {
  width: 30rem;
  margin-right: 2vw;
}
/* SECTION VIDEO & MAP */
.videomap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sectionVM {
  width: 224.7rem;
  height: 85.9774rem;
  display: grid;
  grid-template-columns: 84.5543rem 55.6rem 84.5543rem;
  grid-template-rows: 20rem 65.9774rem;
}
.mapContainer {
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}
.videoContainer {
  grid-column: 3;
  font-size: 2rem;
  grid-row: 2 / span 2;
  display: flex;
  flex-direction: column;
}
.mapBox {
  background-color: #ad7684;
  height: 63rem;
  width: 84.5543rem;
  border-radius: 7rem;
}
.mapTitle {
  font-size: 7rem;
}
.videoTitle {
  font-size: 7rem;
}
.colMap {
  grid-column: 1;
  margin-top: 4vh;
}
.colVideo {
  margin-top: 4vh;
}
/* CONTACT ME */
footer {
  min-height: 25vh;
  font-size: 4rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.contactMeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
/* MEDIA QUERIES */
@media (min-width: 900px) {
  .wrapperGrid {
    width: 78.6328125rem;
    grid-template-columns: 39.3164rem 39.3164rem;
    grid-template-rows: 13rem 13rem auto;
    display: grid;
    justify-content: center;
  }
  .containerMattia {
    font-size: 5rem;
    justify-content: end;
  }
  .containerYaghmai {
    font-size: 5rem;
    justify-content: start;
  }
  .rectangle1 {
    width: 39.3164rem;
  }
  .rectangle2 {
    width: 39.3164rem;
  }
  .WrapperTextHero {
    text-align: left;
    width: 64.5rem;
  }
  .wrapperIntroduction{
    font-size: 3rem;
    align-items: unset;
    justify-content: center;
    

  }
  .textIntroWrap{
    grid-row: 1/span 3;
    width: unset;
  }
  .mattiaPic{
    max-width: 100%;
  }
.devContainer{
    width: 78.6328125rem;
}
.containerBox{
    width: 78.6328125rem;
}
}

@media (min-width: 1100px) {
  .wrapperGrid {
    width: 100.78rem;
    grid-template-columns: 50.38rem 50.38rem;
    grid-template-rows: 13rem 13rem auto;
    display: grid;
  }
  .containerMattia {
    font-size: 7rem;
    justify-content: end;
  }
  .containerYaghmai {
    font-size: 7rem;
    justify-content: start;
  }
  .rectangle1 {
    width: 50.38rem;
  }
  .rectangle2 {
    width: 50.38rem;
  }
  .wrapperIntroduction{
    font-size: 3rem;
    

  }
  .textIntroWrap{
    grid-row: 1 span 3;
    width: unset;
  }
.devContainer{
    width: 100.78rem;
}
.containerBox{
    width: 100.78rem;
}
}
@media (min-width: 1460px) {
  .wrapperGrid {
    width: 137.25rem;
    grid-template-columns: 68.6rem 68.6rem;
  }
  .containerMattia {
    font-size: 9rem;
  }
  .containerYaghmai {
    font-size: 9rem;
  }
  .rectangle1 {
    width: 68.6rem;
  }
  .rectangle2 {
    width: 68.6rem;
  }
  .wrapperIntroduction{
    font-size: 4rem;
    

  }
  .textIntroWrap{
    grid-row: 1 span 3;
    width: 73.1935rem;
  }
.devContainer{
  width: 137.25rem;
}
.containerBox{
  width: 137.25rem;
}
}

@media (min-width: 1920px) {
  .wrapperGrid {
    width: 183rem;
    grid-template-columns: 89.5rem 89.5rem;
  }
  .containerMattia {
    font-size: 12rem;
  }
  .containerYaghmai {
    font-size: 12rem;
  }
  .rectangle1 {
    width: 89.5rem;
  }
  .rectangle2 {
    width: 89.5rem;
  }
.devContainer{
  width: 183rem;
}
.containerBox{
  width: 183rem;
}
}
