body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}
html {
  font-size: 10px;
  background-color: #fefce3;
  height: fit-content;
}
body {
  line-height: 1.5;
  /* height: 26865px !important; */
  overflow-x: hidden !important;
}
.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}
.crimson-text-regular {
  font-family: "Crimson Text", serif;
  font-weight: 400;
  font-style: normal;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.crimson-text-bold {
  font-family: "Crimson Text", serif;
  font-weight: 700;
  font-style: normal;
}
.spanBookmark {
  overflow-y: hidden !important;
  height: 3vh;
}
img,
picture {
  max-width: 100%;
  display: block;
}
.flexRow {
  display: flex;
  flex-direction: row;
}
article {
  margin-bottom: 2vh;
}
.containerIntroText > article > p {
  margin-bottom: 2vh;
}
section {
  height: 100vh;
}
.sections {
  /* display: flex; */
  height: auto;
}

/* COVERART */
.backgroundCov {
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: -3;
  width: 100%;
  height: 100%;
}
.naveContainer {
  grid-column: 8/-1;
  grid-row: 5/ -1;
  display: flex;
  justify-content: end;
  z-index: 2;
}
.controlNave {
  width: 100%;
}
.imgNave {
  width: 100%;
  height: 100%;
}
.controlImgDiag1 {
  grid-row: 1/4;
  grid-column: 1/8;
  position: relative;
  z-index: -2;
  opacity: 0.5;
}
.controlImgDiag2 {
  grid-row: 5/-1;
  grid-column: 1/8;
  position: relative;
  z-index: -2;
  opacity: 0.5;
}
.diagCo {
  position: absolute;
  top: 0;
  width: 500rem;
  rotate: -6deg;
  left: -200rem;
  height: 17rem;
}
.imgDiag1 {
  filter: blur(0px);
  transform-origin: bottom right;
}
.controlGrid {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 15rem 15rem 15rem 15rem 15rem 15rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 15rem 15rem 15rem 15rem 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.circleContainer {
  grid-area: 2 / 5 / 6 / 9;
}
.circleRed,
.squareRed,
.telegraphBlack,
.titleCover {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 6rem;
  font-family: "libre baskerville";
}
.imgRed {
  z-index: -1;
}
.titleContainer {
  display: flex;
  width: 160%;
  justify-content: center;
}
.titleCover {
  align-items: center;
}
.telegraphBlack {
  align-items: center;
  height: 56%;
  width: 128%;
  transform-origin: left center;
}
.telegraphImg {
  width: 400%;
  transform-origin: top left;
}
.squareContainer {
  grid-area: 2 / 4 / 4 / 6;
  display: flex;
  align-items: center;
}
.squareRed {
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.torpedoFish {
  z-index: 2;
  mix-blend-mode: darken;
  width: 80%;
  height: 80%;
}
.rectangleCov {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.telegraphContainer {
  grid-area: 4 / 7 / 6 / 10;
}

.titleContainer {
  grid-area: 2 / 6 / 4 / 9;
}
@media(width <= 1280px){
.gridContainer{
  grid-template-columns: 1fr 1fr 1fr 10rem 10rem 10rem 10rem 10rem 10rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 10rem 10rem 10rem 10rem 1fr;
}
.titleCover{
  font-size: 4rem;
}
} 
  
@media(width <= 800px){

.gridContainer{
  grid-template-columns: 1fr 1fr 1fr 8rem 8rem 8rem 8rem 8rem 8rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 8rem 8rem 8rem 8rem 1fr;
}
.titleCover{
  font-size: 3rem;
}
}
@media(width <= 660px){

.gridContainer{
  grid-template-columns: 1fr 1fr 1fr 5rem 5rem 5rem 5rem 5rem 5rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 5rem 5rem 5rem 5rem 1fr;
}
.titleCover{
  font-size: 1.5rem;
}
}
@media(width <= 390px){

.gridContainer{
  grid-template-columns: 1fr 1fr 1fr 4rem 4rem 4rem 4rem 4rem 4rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 4rem 4rem 4rem 4rem 1fr;
}
.titleCover{
  font-size: 1.5rem;
}
}
@media(width <= 320px){

.gridContainer{
  grid-template-columns: 1fr 1fr 1fr 3rem 3rem 3rem 3rem 3rem 3rem 1fr 1fr 1fr;
  grid-template-rows: 1fr 3rem 3rem 3rem 3rem 1fr;
}
.titleCover{
  font-size: 1.2rem;
}
}
/* .controlCoverCenter{
  position: absolute;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.controlInsideCenter{
  width: 33%;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circleRed{
width: 100%;
height: 100%;
}
.imgCircle{
  width: 100%;
}
.controlSquare{
  position: absolute;
} */
/* INTRO */
.introSection {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 2;
  width: 100vw;
}
.coverArt {
  display: flex;
  height: 100vh;
  position: absolute;
  aspect-ratio: 2;
  opacity: 0.3;
}
.contentControl {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
}
.containerIntro {
  display: flex;
  font-size: 1.9vh;
  font-family: "libre baskerville";
  width: 80vw;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containerIntroText {
  height: 65vh;
  aspect-ratio: 0.67;
}
.contentFrameIntro {
  display: flex;
  height: 60vh;
  aspect-ratio: 0.6;
  align-items: center;
  margin-bottom: 1vh;
}
.introImage {
  margin-bottom: 1vh;
}
@media (aspect-ratio< 0.99) {
  .containerIntro {
    justify-content: center;
  }
  .containerIntroText {
    height: 55vh;
    font-size: 1.5vh;
    order: 2;
  }
  .contentFrameIntro {
    height: 50vh;
    order: 1;
  }
}

/* SECTION SCROLLS */
.scroller {
  display: flex;
  height: fit-content;
}
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#myCanvas1 {
  z-index: -2;
  position: absolute;
  top: 0;
}
.mainWrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  aspect-ratio: 3.5;
  align-items: center;
  justify-content: start;
  position: absolute;
}
.mainSiteWrapper {
  display: flex;
  width: fit-content;
  height: 100vh;

  /* overflow-y: hidden; */
}
/* SECTION 1 */
/* a) Bookmark */
.mainContainer {
  display: flex;
  width: fit-content;
  height: 100vh;
  position: relative;
  overflow-x: visible;
}
.containerFrame1 {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100vh;
}
.Image-01 {
  height: 100%;
}
.overlay {
  mix-blend-mode: hard-light;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ov1 {
  z-index: 2;
  opacity: 0.45;
  background-color: black;
}
.ov2 {
  z-index: 1;
  opacity: 0.86;
  background-color: #892020;
}
.bookmarkframe1 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}
.titleBookMark {
  overflow: hidden;
  margin-bottom: 1vh;
}
.textBookmark {
  position: absolute;
  font-size: 1.9vh;
  height: inherit;
  z-index: 3;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #ebecdc;
  aspect-ratio: 1;
}
.controlTextBookMark {
  width: 80%;
  /* margin-right: 2vw;
  margin-left: 2vw; */
}
/* b) first page */
.page {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* height: 200vh; */
  color: #333333;
  font-size: 1.9vh;
  text-wrap: wrap;
  font-family: "libre baskerville";
}
/* .sectioni{
  height: 500vh;
} */
.p-01 {
  justify-content: space-between !important;
  height: 100vh;
  aspect-ratio: 2;
}
p > .page {
  margin-bottom: 1.5vh;
}
.wrapperContentP1 {
  width: 80%;
  display: flex;
  justify-content: space-around;
}
.controlText {
  height: 65vh;
  aspect-ratio: 0.7;
}
.containerFrame2 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
  width: fit-content;
}
.containerFrame2Copy {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  grid-column: 2;
  width: fit-content;
}
.gif1,
.gifChappe {
  height: 65vh;
  aspect-ratio: 0.5;
  will-change: transform;
}
.textContainer {
  width: fit-content;
  display: flex;
  align-items: center;
}
.containerFrame3 {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  position: relative;
}
.sectioni {
  width: 100%;
  overflow-x: visible;
}

.svg1 {
  height: 65vh;
  aspect-ratio: 1.28;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
/* Pagina 2 */
.p-02 {
  height: 100vh;
  aspect-ratio: 2;
}
.bookmarkFrame1 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}
.bookmarkFrame2 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}
/* Pagina 3 */
.p-03 {
  height: 100vh;
  aspect-ratio: 2;
}
/* background */
.backgroundContainer {
  position: absolute;
}
.frame5 {
  height: 65vh;
  aspect-ratio: 1.28;
}

.background {
  position: relative;
  aspect-ratio: 1.48;
  height: 100vh;
  opacity: 0.21;
}
/* map */

#map > .st1 {
  stroke-width: 0.5;
}
#cities > .st4,
.st5 {
  font-size: clamp(12px, 1.5rem, 2rem);
}
#map {
  stroke-width: 1;
}
circle {
  width: 3vw;
}
#primaEra > .st7 {
  stroke: #000000;
  z-index: -1;
}
#secondaEra > .st7 {
  stroke: #ec7b11;
}
#terzaEra > .st7 {
  stroke: #ece939;
}
#after1830 > .st7 {
  stroke: #5db828;
}

/* SECTION MAGNETISM */
/* BookMark 2 */

.overlayM {
  mix-blend-mode: darken;
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay2M {
  mix-blend-mode: hard-light;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ov1M {
  z-index: 2;
  opacity: 0.68;
  background-color: #251fc6;
}
.ov2M {
  z-index: 1;
  opacity: 0.3;
  background-color: black;
}

/* Background magnetism */

.backgroundContainerEM {
  position: absolute;
  width: 50%;
}
.frame2 {
  height: 65vh;
  aspect-ratio: 1.28;
}

.backgroundEM {
  position: relative;
  aspect-ratio: 1.48;
  height: 50vh;
  opacity: 0.21;
}
/* PAGINA 1 */
.introM > p {
  margin-bottom: 2vh;
}
.textPage01M > .controlText {
  height: 55vh;
}
.frame3 {
  height: 20vh;
  aspect-ratio: 0.84;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
/* .textPage01M {
} */
.frame4 {
  height: 22vh;
  aspect-ratio: 0.84;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}

.containerFrame2M {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
/* PAGE 2 */
.controlTextMP2 {
  height: 50vh;
  aspect-ratio: 1.4;
}
.controlTextMP2 > article > p {
  margin-bottom: 2vh;
}
/* PAGE 4 */

.p-04 {
  height: 100vh;
  aspect-ratio: 2;
}
.backgroundContainerEM1 {
  position: absolute;
  width: 36%;
}

.backgroundEM1 {
  position: relative;
  aspect-ratio: 2.9;
  height: 80vh;
  opacity: 0.21;
}
.frame7 {
  height: 50vh;
  aspect-ratio: 1.3;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
/* ELETTROMAGNETISMO */
/* bookmark */

.bookmarkFrame3 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}
.overlayMr {
  mix-blend-mode: darken;
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay2Mr {
  mix-blend-mode: hard-light;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ov1Mr {
  z-index: 2;
  opacity: 0.68;
  background-color: #605a20;
}
.gifMorse {
  height: 65vh;
  aspect-ratio: 1;
}
/* PAGINA 1 */
.wrapperContentP1T {
  height: 100vh;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.textPage01T > .controlText {
  height: 33vh;
  aspect-ratio: 1.4;
}
.frame8 {
  height: 30vh;
  aspect-ratio: 0.84;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.backgroundContainerMr {
  position: absolute;
  width: 100%;
}

.backgroundMr {
  position: relative;
  aspect-ratio: 1.48;
  height: 80vh;
  opacity: 0.21;
}
.frame9 {
  height: 50vh;
  aspect-ratio: 1.7;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.backgroundContainerMr1 {
  position: absolute;
  width: 70%;
}

.backgroundMr1 {
  position: relative;
  aspect-ratio: 1.48;
  height: 70vh;
  opacity: 0.21;
}
.frame9 {
  height: 50vh;
  aspect-ratio: 1.7;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.frame10 {
  height: 80vh;
  aspect-ratio: 1.7;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
/* map */
/* DIFFUSIONE */
/* Bookmark */

.backgroundContainerD {
  position: absolute;
  width: 53%;
}

.backgroundD {
  position: relative;
  aspect-ratio: 1.48;
  height: 60vh;
  opacity: 0.21;
}
.frame11 {
  height: 100vh;
  aspect-ratio: 2.3;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.overlay2D {
  mix-blend-mode: hard-light;
  position: absolute;
  height: 100%;
  width: 100%;
}
.ov2D {
  z-index: 2;
  opacity: 0.86;
  background-color: #093f16;
}
.bookmarkFrame4 {
  height: 100vh;
  aspect-ratio: 0.5;
  top: 0;
}

.containerFrame3d {
  display: flex;
  flex-direction: row;
  font-size: 1.29vh;
  position: relative;
}
.svg2 {
  width: 100%;
}
.containerFramed {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
.frame12 {
  height: 30vh;
  aspect-ratio: 0.84;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.controlTextDiffusion,
.controlTextDiffusion1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.containerFramed1 {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
.frame13 {
  height: 30vh;
  aspect-ratio: 2;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
}
.controlSvg2 {
  display: flex;
}
.mapDif {
  height: 80vh;
  aspect-ratio: 1.28;
  width: 135%;
}
.containerFramedM {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
.frame14 {
  height: 70vh;
  aspect-ratio: 2;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
  border: solid 0.5vw #093f16;
}
.frame15 {
  height: 70vh;
  aspect-ratio: 2;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
  border: solid 0.5vw #093f16;
}
.containerFramed2 {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
.frame16 {
  height: 70vh;
  aspect-ratio: 2;
  image-rendering: crisp-edges;
  filter: blur(0.5px);
  border: solid 0.5vw #093f16;
}
.containerFramed3 {
  display: flex;
  flex-direction: column;
  font-size: 1.29vh;
  width: fit-content;
  justify-content: space-between;
}
.backgroundContainerMr12 {
  position: absolute;
  width: 54%;
}
.textMapAge {
  flex-direction: column;
}
.controlTextDif {
  width: 100%;
}

.ageMap {
  font-size: 4vh;
  z-index: -3;
}
