
      <div class="transition"></div>
      <section class="heroSection">
        <div class="wrapperGrid wrapperSection">
          <!-- <div class="containerTextHero"></div> -->
          <div class="fakeRectangle"></div>
          <div class="containerRectangle1">
            <div class="rectangle1"></div>
          </div>
          <div class="containerMattiaTit">
            <span class="mattia">MATTIA</span>
          </div>
          <div class="containerYaghmai">
            <span class="yaghmai">YAGHMAI</span>
          </div>
          <div class="containerRectangle2">
            <div class="rectangle2"></div>
          </div>
          
          <div class="WrapperTextHero">
            <div class="text">
              <article lang="en">
                I am a creative front-end developer and designer, specialized in
                making interactive experiences with a love for motion and
                animation!
              </article>
            </div>
          </div>
        </div>
      </section>
      <section class="introduction" id="section--1">
        <div class="wrapperSection wrapperGrid wrapperIntroduction">
          <div class="textIntroWrap">
            <div class="titleWrapperInfo">
              <h2 class="titleInfo">Let's Work Together!</h2>
            </div>
            <div class="wrapperParagraph">
              <p class="testo">
                Hi, what you see in the picture is me, Mattia Yaghmai, an
                independent full-stack web developer based in France. Over the
                years, I've been able to blend my diverse passions, such as
                design, literature, and programming, into a unique creative
                expression where the line between art and technology blurs.
                <br /><br />
                For me, designing is a research into the real meaning, the very
                essence of the things we use, and coding is a creative act that
                turns the design into a valuable experience. <br />
                <br />
                If you'd like to know more about me, click the button below!
              </p>
            </div>
            <button class="btn">
              <a class="linkPages" href="/aboutMe"> know more about me</a>
            </button>
            <!-- <div class="wrapperParagraph">
              <p class="testo">
                I provide creative solutions for clients by offering a range of
                modern technologies combined with a design approach that seeks
                to find and communicate the real meaning of their needs. This is what I use:

              </p>
            </div> -->
          </div>
          <div class="containerPicture">
            <div class="containerMattia">
              <img class="mattiaPic" src="/public/img/profilo1.webp" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="webDev" id="section--2">
        <div class="wrapperSection devContainer">
          <div class="containerBox">
      <video
        class="imgCover"
        muted
        loop
        autoplay
        playsinline
        
        src="../public/img/devPic1_1.webm"
        alt="Telegraph Site Video"
      ></video>
            <div class="titleWrapperWeb">
              <h2 class="titleWeb">Web Development.</h2>
            </div>
          </div>
          <div class="containerTexDev">
            <div class="textDev testo">
              <div class="colDev">
                <div class="wrapperParagraph">
                  <p>
                    I’ll handle every key step in developing your ideal
                    website—whether you need full project management or support
                    in specific areas like design or coding.
                  </p>
                </div>
              </div>
              <div class="colDev">
                <div class="wrapperParagraph">
                  <p>
                    I specialize in creating minimal, elegant designs that
                    deliver a seamless user experience, while carefully choosing
                    the best website architecture to meet your goals.
                  </p>
                </div>
              </div>
              <div class="colDev">
                <div class="wrapperParagraph">
                  <p>
                    I also have a passion for writing and creating engaging
                    scrollytelling websites, as you’ll see in my portfolio.
                    <br />
                    If you’re curious to learn more about my approach or dive
                    into the technical details, click the button below!
                  </p>
                </div>
              </div>
            </div>
            <button class="btn">
              <a class="linkPages" href="/webDevelopment"> know more about my work</a>
            </button>
          </div>
        </div>
      </section>
      <section class="videomap" id="section--3">
        <div class="sectionVM wrapperSection">
          <div class="mapContainer">
            <div class="mapBox">
      <video
        class="mapImage"
        muted
        loop
        autoplay
        playsinline
        
        src="../public/img/mapRolling.webm"
        alt="Telegraph Site Video"
      ></video>
            </div>
            <div class="titleWrapperMap">
              <h2 class="titleMap">Maps.</h2>
            </div>
            <div class="colDev colMap">
              <div class="wrapperParagraph">
                <p class="testo">
                  Available for both print and web, my maps and infographics are
                  elegant and concise, transforming data into meaningful
                  stories.
                </p>
              </div>
              <button class="btn">
                <a class="linkPages" href="/maps"> know more about me</a>
              </button>
            </div>
          </div>
          <div class="videoContainer">
            <div class="mapBox">
      <video
        class="videoImage"
        muted
        loop
        autoplay
        playsinline
        
        src="../public/img/motion.webm"
        alt="Telegraph Site Video"
      ></video>
            </div>
            <div class="titleWrapperVideo">
              <h2 class="titleVideo">Motion Graphics.</h2>
            </div>
            <div class="colDev colVideo">
              <div class="wrapperParagraph">
                <p class="testo">
                  I love experimenting with motion graphics! I'm available if
                  you need video explainers or video essays.
                </p>
              </div>
              <button class="btn">
                <a class="linkPages" href="/motionGraphics"> know more about me</a>
              </button>
            </div>
          </div>
        </div>
      </section>