<div class="transitionWorks is-active"></div>
<section class="heroSection column mapPage">
  <div class="wrapperTextAbout mapGrid">
    <div class="containerHeroWork">
      <div class="wrapperTitleWorks">
        <h2 class="titleWorks">Maps and Infographics</h2>
      </div>
      <p class="aboutWorks">
        Maps were my gateway into the world of design. Their elegance and rich
        layers of meaning allow complex concepts to be understood at a glance,
        seamlessly merging geography with data or detailed narratives. To craft
        my maps, I rely on geographic software such as <strong>QGIS</strong>,
        which, when combined with <strong>SQL</strong> and
        <strong>Python</strong>, enables precise data selection and
        representation. I then refine the visuals with
        <strong>Adobe Illustrator</strong>, adding a layer of aesthetic
        sophistication to the final product. A key area of expertise is
        georeferencing historical maps and reimagining them through a modern
        lens. My work has been published in both print and digital formats.
      </p>
    </div>
    <!-- <div class="containerGifMap">
        <img class="gifMap" src="/public/img/gifMap2.gif" alt="" />
      </div> -->
  </div>
  <!-- CONTAINER IMAGES -->
  <!--  -->
  <div class="imgContainer">
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img
          class="imgMap"
          src="/public/img/Print_trial_02-01.webp"
          alt="map describing the trade routes from and to Siegen. At the top of the infographics, you can see the regional administration in nowadays Germany during three different eras.  "
        />
      </div>
      <p class="descriptionMap">
        Map commisioned by the <i> University of Siegen</i>.
      </p>
    </div>
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img
          class="imgMap"
          src="/public/img/EuropeXCentury(2)-6-9-01.webp"
          alt="map describing the extent of the muslim empire during the X century in Europe."
        />
      </div>
      <p class="descriptionMap">
        One of the maps in book published by Rutledge,
        <i>
          Mediterranean Europe’s Islamic Past and Orientalism during the
          Nineteenth Century: The Use and Misuse of Medieval History</i
        >.
      </p>
    </div>
    <div class="mapContainerWork scrollingElementWork">
      <div class="mapWrapper elementTriggerWork">
        <img
          class="imgMap"
          src="/public/img/2_QATAR BLOCKADE_Air routes map_3000px(1).webp"
          alt="map describing the blockade of air routes during the Qatar crisis."
        />
      </div>
      <p class="descriptionMap">
        One of the maps published in <i>fanack.com</i>. Fanack is an independent
        multimedia platfor which publish content about middle-eastern politics.
      </p>
    </div>
  </div>
</section>
