<div class="transitionWorks is-active"></div>
<section class="heroSection column motionGraphicsPage">
  <div class="wrapperTextAbout motionGraphicsGrid">
    <div class="containerHeroWork">
      <div class="wrapperTitleWorks">
        <h2 class="titleWorks">Motion Graphics</h2>
      </div>
      <p class="aboutWorks">
        I can create explainer videos using motion graphics to make your project
        or business even more accessible and easy to understand. If you're
        looking to tell a story, this technique will undoubtedly make it more
        engaging and captivating. To produce these videos, I primarily use Adobe
        software, including Illustrator, Photoshop, and After Effects. Feel free
        to reach out for more information!
      </p>
    </div>
    <!-- <div class="containerGifMotionG">
      <img src="/img/motionGraphicsGif.gif" alt="" class="gifMot" />
    </div> -->
  </div>
  <div class="videoContainerPage">
    <div class="videoContainerWork scrollingElementWork">
      <div class="videoWrapper elementTriggerWork">
        <iframe
          class="box video show--box"
          width="560"
          height="315"
          src="https://youtube.com/embed/ZdZFZHt13vs?si=nKsHLN984p4XIrBH"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen=""
        ></iframe>
      </div>
      <p>questa è una mappa che mi sembra bella</p>
    </div>
    <div class="videoContainerWork scrollingElementWork">
      <div class="videoWrapper elementTriggerWork">
        <iframe
          class="box video show--box"
          width="560"
          height="315"
          src="https://www.youtube.com/embed/x5O56DO16NQ?si=SdVp5MKFINB-QPAl"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen=""
        ></iframe>
      </div>
      <p>questa è una mappa che mi sembra bella</p>
    </div>
  </div>
</section>