<div class="transitionWorks"></div>
<section class="heroSection column webDevelopmentPage">
  <!-- FIRST SECTION -->
  <div class="wrapperTextAbout webDevelopmentFlex">
    <div class="wrapperTextWebDev">
      <div class="wrapperTitleWorks">
        <h2 class="titleWorks">Web Development</h2>
      </div>
      <p class="aboutWorks">
        Let's dive deeper into what I can offer as a web developer, from
        delivering single-page applications to
        <strong>scalable design systems</strong>.
      </p>
      <p class="aboutWorks">
        I can handle every phase of development, from design to deployment. Of
        course, the most critical work always happens during the design phase.
        Once I fully understand your requirements, I'll propose a design for
        your site, along with a web architecture that's tailored to your needs.
        Whether you’re planning to use a CMS or a static site generator, I can
        provide the support you need. My strength lies in learning new
        technologies quickly and diving deep into new areas of expertise, so I'm
        always ready to adapt to your project’s specific needs.
      </p>
    </div>
    <div class="wrapperWebDevVideo scrollingElementWork iconTrial">
      <video
        class="gifwebDev1 elementTriggerWork"
        muted
        loop
        autoplay
        playsinline
        src="../public/img/gifWebDev3.webm"
        alt="video where a pen draws elements on a grid for designers"
      ></video>
    </div>
  </div>

  <!-- SECOND SECTION -->
  <div class="wrapperTextAbout webDevelopmentFlex">
    <div class="wrapperTextWebDev">
      <h3 class="secondaryTitleTools">Tools and Technology</h3>
      <p class="aboutWorks">
        For front-end development, I primarily use
        <strong>JavaScript </strong>along with various associated frameworks,
        but I also have experience with <strong>Python</strong>. On the
        server-side, I typically work with <strong>Node.js</strong> and
        <strong>Express</strong>, while for databases, I’m familiar with both
        <strong>MongoDB</strong> and <strong>SQLite</strong>. Another approach I
        frequently take is building websites connected to a
        <strong>RESTful API</strong>, which is particularly useful if you plan
        to develop an app in the future.
      </p>
    </div>
    <div class="wrapperWebDevVideo scrollingElementWork gif2Wrapper">
      <video
        class="gif2 elementTriggerWork"
        muted
        loop
        autoplay
        playsinline
        src="../public/img/webDevGif2.webm"
        alt="video showing a code that transforms into internet pages."
      ></video>
    </div>
  </div>

  <!-- THIRD SECTION -->
  <div class="wrapperTextAbout webDevelopmentFlex">
    <div class="wrapperTextWebDev">
      <h3 class="secondaryTitleAnimation">
        Animations and Interactive Storytelling
      </h3>
      <p class="aboutWorks">
        Don’t forget, I can also bring your site to life with animations! I work
        with <strong>GSAP</strong> (GreenSock Animation Platform), so if you’re
        aiming for a more interactive experience or want to create a site with
        engaging storytelling, I can enhance the navigation and user experience
        to make it both captivating and dynamic. Feel free to get in touch—I’d
        be happy to collaborate and build a website that exceeds your
        expectations!
      </p>
    </div>
    <div class="wrapperWebDevVideo scrollingElementWork videoTrial">
      <video
        class="telVideo elementTriggerWork videoWebDevContainer"
        muted
        loop
        autoplay
        playsinline
        src="../public/img/videoTelegraphSite1.webm"
        alt="video showing the scrolling of the website where the history of telegraph is shown"
      ></video>
    </div>
  </div>
</section>
