<div class="scroller page p-01">
  <div class="mainContainer">
    <div class="containerFrame1">
      <div class="overlay ov1"></div>
      <div class="overlay ov2"></div>
      <div class="Image-01">
        <div class="dioPadding">
          <div class="bookmarkFrame1"></div>
        </div>
      </div>
      <div class="textBookmark">
        <div class="controlTextBookMark">
          <div class="titleBookMark">
            <h2 class="titoloChappe">1. Il telegrafo di Chappe</h2>
          </div>
          <article>
            <p class="spanBookmark">Un progresso nella comunicazione</p>
            <p class="spanBookmark">avvenne dopo il 17 secolo quando</p>
            <p class="spanBookmark">un’invenzione ridusse drasticamente le</p>
            <p class="spanBookmark">distanze: il telescopio. Si capì che</p>
            <p class="spanBookmark">grazie alle proprietà di ingrandimento</p>
            <p class="spanBookmark">della lente, i messaggi potessero essere</p>
            <p class="spanBookmark">ora inviati da punti sempre più</p>
            <p class="spanBookmark">lontani.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperContentP1">
    <div class="textContainer textPage01">
      <div class="controlText">
        <article>
          <p>
            Nel XVIII secolo scienziati e inventori cominciariono a costruire
            prototipi meccanici di invio di messaggi a lunga distanza sfruttando
            il sistema di ingrandimento delle immagini.
          </p>
          <p>
            Tra i tanti che ci provarono, Claude Chappe (1768-1805) si distinse
            per averne inventato uno che fece fortuna nella Francia del XIX
            secolo.
          </p>
          <p>
            Il telegrafo di Chappe fu inventato nel 1792. Erano gli anni della
            rivoluzione Francese e il paese era circondato da forze nemiche.
          </p>
          <p>
            Secondo Chappe il suo telegrafo avrebbe permesso di inviare ordini e
            diffondre notizie in tempi rapidissimi per tutta la Francia.
          </p>
          <p>
            L aprima linea telegrafica, composta da 15 stazioni, fu costruita
            tra la città di Lille e Parigi con un percorso di 230 km di
            lunghezza.
          </p>
          <p>
            Il primo messaggio di 36 simboli fu inviato in un tempo record di 32
            minuti
          </p>
        </article>
      </div>
    </div>
    <div class="containerFrame2">
      <div class="gif1 intra">
        <img class="gifChappe" src="../public/img/chappe.gif" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Pagina 2 -->
<div class="scroller page p-02">
  <div class="containerFrame2Copy">
    <div class="intra"></div>
    <div class="text"></div>
  </div>
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Il telegrafo di Chappe inviava messaggi alla stazione successiva
          manovrando meccanicamente du ebraccia di legno aventi ognuno 7
          posizioni possibili connesse ad una sbarra trasversale avente 4
          posizioni. I messaggi venivano trasmessi in codice usando un
          decifratore posseduto dai capi stazione.
        </p>
      </article>
    </div>
  </div>
  <div class="backgroundContainer">
    <div class="frame5 background"></div>
  </div>
</div>
<!-- Page 3 -->
<div class="scroller page p-03">
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Il telegrafo di Chappe si diffuse rapidamente per tutta la francia del
          XIX secolo. Sebbene non molto numerosi, questi collegamenti fanno già
          pensare a qualcosa che vagamente assomiglia ad un network a servizio
          del governo centrale di Parigi. Commentatori dell’epoca riflettevano
          sull’impatto rivoluzionario di questo strumento. Per la prima volta la
          Francia aveva una mente sola.
        </p>
        <p>
          Sebbene i telegrafi ottici velocizzarono la comunicazione collegando
          zone lontanissime in un paese, questo tipo di telegrafia era stata
          concepita esclusivamente per operazioni di intelligence.
        </p>
        <p>
          Tutti i vantaggi del telegrafo di Chappe rischiavano di risultare
          obsoleti al di fuori della guerra.
        </p>
        <p>
          Ma nello stesso periodo storico, stava per accadere qualcosa che
          avrebbe scaraventato l’uomo nell’epoca moderna, qualcosa che avrebbe
          finalmente fatto accadere l’impossibile: la scoperta dell’induzione
          elettromagnetica.
        </p>
        <p>
          L’elettromagnetismo stava per rivoluzionare la telecomunicazione per
          sempre.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame3">
    <div class="svg1 intra"><%- include('svg/francia_chappe-01.svg')%></div>
  </div>
</div>
