<section class="coverArtSection">
  <div class="gridContainer">
  <div class="naveContainer"><div class="controlNave"><../public/img/coverArt/ class="../public/img/coverArt/Nave"src="/../public/img/coverArt//coverArt/nave.png" alt=""></div></div>
    <div class="backgroundCov">
      <../public/img/coverArt/ src="/../public/img/coverArt//coverArt/backgroundCover.png" alt="">
    </div>
    <div class="control../public/img/coverArt/Diag1">
      <div class="diagCo"><../public/img/coverArt/ class="../public/img/coverArt/Diag1" src="/../public/img/coverArt//coverArt/diagonale1.png" alt=""></div>
    </div>
    <div class="control../public/img/coverArt/Diag2">
      <div class="diagCo"><../public/img/coverArt/ class="../public/img/coverArt/Diag2" src="/../public/img/coverArt//coverArt/diagonale2.png" alt=""></div>
    </div>
    <div class="circleContainer">
      <div class="circleRed"><../public/img/coverArt/ class="../public/img/coverArt/Red" src="/../public/img/coverArt//coverArt/Ellipse.png" alt=""></div>
    </div>
    <div class="squareContainer">
      <div class="squareRed">
        <../public/img/coverArt/ class="torpedoFish" src="/../public/img/coverArt//coverArt/torpedo.png" alt="">
        <../public/img/coverArt/ class="rectangleCov" src="/../public/img/coverArt//coverArt/Rectangle.png" alt=""></div>
    </div>
    <div class="telegraphContainer">
      <div class="telegraphBlack"><../public/img/coverArt/ class="telegraph../public/img/coverArt/"src="/../public/img/coverArt//coverArt/telegrafo.png" alt=""></div>
    </div>

    <div class="titleContainer">

    <div class="titleCover"><h1>The Telegraph</h1></div>
    </div>
  </div>
</section>
