<section class="coverArtSection">
  <div class="gridContainer">
    <div class="naveContainer">
      <div class="controlNave">
        <img class="imgNave" src="../public/img/coverArt/nave.png" alt="" />
      </div>
    </div>
    <div class="backgroundCov">
      <img src="../public/img/coverArt/backgroundCover.png" alt="" />
    </div>
    <div class="controlImgDiag1">
      <div class="diagCo">
        <img class="imgDiag1" src="../public/img/coverArt/diagonale1.png" alt="" />
      </div>
    </div>
    <div class="controlImgDiag2">
      <div class="diagCo">
        <img class="imgDiag2" src="../public/img/coverArt/diagonale2.png" alt="" />
      </div>
    </div>
    <div class="circleContainer">
      <div class="circleRed">
        <img class="imgRed" src="../public/img/coverArt/Ellipse.png" alt="" />
      </div>
    </div>
    <div class="squareContainer">
      <div class="squareRed">
        <img class="torpedoFish" src="../public/img/coverArt/torpedo.png" alt="" />
        <img
          class="rectangleCov"
          src="../public/img/coverArt/Rectangle.png"
          alt=""
        />
      </div>
    </div>
    <div class="telegraphContainer">
      <div class="telegraphBlack">
        <img
          class="telegraphImg"
          src="../public/img/coverArt/telegrafo.png"
          alt=""
        />
      </div>
    </div>

    <div class="titleContainer">
      <div class="titleCover"><h1>The Telegraph</h1></div>
    </div>
  </div>
</section>
