<div class="scroller page p-01">
  <div class="mainContainer">
    <div class="containerFrame1">
      <div class="overlay2D ov2D"></div>
      <div class="Image-01">
        <div class="dioPadding">
          <div class="bookmarkFrame4"></div>
        </div>
      </div>
      <div class="textBookmark">
        <div class="controlTextBookMark">
          <div class="titleBookMark">
            <h2 class="titoloChappe">4. Le connessioni intercontinentali</h2>
          </div>
          <article>
            <p class="spanBookmark">Nel giro di pochi anni le connessioni</p>
            <p class="spanBookmark">telegrafiche tramite i pali elettrici</p>
            <p class="spanBookmark">si stavano diffondendo non solo</p>
            <p class="spanBookmark">negli Stati Uniti ma anche in tutta</p>
            <p class="spanBookmark">Europa.</p>
            <p class="spanBookmark">In tutto il mondo la popolazione</p>
            <p class="spanBookmark">era di fronte ad una realtà che</p>
            <p class="spanBookmark">soltanto pochi decenni prima non</p>
            <p class="spanBookmark">era nemmeno contemplabile:</p>
            <p class="spanBookmark">la telecomunicazione a distanza</p>
            <p class="spanBookmark">ed immediata era qualcosa di possibile</p>
            <p class="spanBookmark">Ma mancava un unico tassello per</p>
            <p class="spanBookmark">rendere questa rivoluzione ancora più</p>
            <p class="spanBookmark">di impatto: le connessioni tra</p>
            <p class="spanBookmark">i continenti.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperContentP1T">
    <div class="backgroundContainerD">
      <div class="frame11 backgroundD"></div>
    </div>
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            Un businessman di grande successo di nome Cyrus Field colse
            l’opportunità di investire nel mercato dei telegrafi. La sua prima
            linea telegrafica doveva collegare la città di New York a
            Newfoundland, con lo scopo di poter inviare notizie di arrivo degli
            sbarchi dall’Irlanda in poco tempo. Ma nel 1854 Field ebbe un’altra
            idea: quella di collegare
          </p>
        </article>
      </div>
    </div>
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            collegare l’America all’Europa collegando Newfoundland all’Irlanda
            per arrivare così a Londra che era all’epoca il centro dell’economia
            globale. Cercò fondi dai maggiori investitori, inclusi i governi
            degli Stati Uniti e del Regno Unito per ottenere le navi per il
            collegamento dei cavi.
          </p>
        </article>
      </div>
    </div>
  </div>
</div>

<!-- Pagina 2 -->
<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlText controlTextDiffusion">
      <article>
        <p>
          Egli recrutò inoltre ingegneri e scienziati nel progetto per
          sviluppare cavi che potessero reggere la pressione sottomarina e
          inviare dall’altro capo dell’oceano gli impulsi elettrici. I primi
          tentativi fuorno disastrosi e quasi fecero perdere la fuducia nel
          progetto ma finalmente nel 1858 il primo collegamento si originò tra
          l’America e l’Inghilterra.
        </p>
      </article>
      <div class="containerFramed">
        <div class="frame12"></div>
      </div>
    </div>
    <div class="controlSvg2">
      <div class="svg2 intra"><%- include('svg/telegrafiad.svg')%></div>
    </div>
  </div>
</div>

<!-- PAGE 3 -->
<div class="scroller page p-03">
  <div class="textContainer textPage01">
    <div class="controlText controlTextDiffusion1">
      <article>
        <p>
          Scambi di buona fortuna furono inviati dalla regina Victoria al
          presidente degli Stati Uniti d’America:”It is a triumph more glorious,
          because far more useful to mankind, than was ever won by conqueror on
          the field of battle”, inviò con il codice morse il presidente . Nel
          1866 un collegamento permanente fu creato tra i due continenti e da
          questo momento in poi le connessioni telegrafiche transoceaniche si
          diffusero nel mondo.
        </p>
      </article>
      <div class="containerFramed1">
        <div class="frame13"></div>
      </div>
    </div>
  </div>
  <div class="textContainer textPage01">
    <div class="controlText">
      <article>
        <p>
          Rappresentate dalle mappe si puó vedere la progressione
          dell’espansione del telegrafo nel corso di cinquant’anni circa.
        </p>
      </article>
    </div>
  </div>
</div>
<!-- PAGE 5 -->

<div class="scroller page p-04">
  <div class="textContainer textPage01 textMapAge">
    <div class="controlTextDif">
      <h2 class="ageMap">1871</h2>
    </div>
    <div class="containerFramed1 diffmap">
      <div class="frame14 mapdiff"></div>
    </div>
  </div>
</div>
<div class="scroller page p-04">
  <div class="textContainer textPage01 textMapAge">
    <div class="controlTextDif">
      <h2 class="ageMap mapdiff">1880</h2>
    </div>
    <div class="containerFramed2 diffmap">
      <div class="frame15 mapdiff"></div>
    </div>
  </div>
</div>
<div class="scroller page p-04">
  <div class="textContainer textPage01 textMapAge">
    <div class="controlTextDif diffmap">
      <h2 class="ageMap">1901</h2>
    </div>
    <div class="containerFramed3">
      <div class="frame16"></div>
    </div>
  </div>
</div>
<!-- ULTIMA SEZIONE -->
<div class="scroller page p-04">
  <div class="backgroundContainerMr12">
    <div class="frame17 backgroundMr1"></div>
  </div>
  <div class="textContainer textPage01T">
    <div class="controlTextMP2">
      <article>
        <p>
          I più ottimisti avevano veramente l’impressione che il mondo fosse
          diventato un luogo molto più piccolo, e che lo spazio anche morale che
          separava gli uomini nei quattro continenti era diventato praticamente
          nullo. Vedevano un mondo in cui le guerre non ci sarebbero più state
          perchè la telecomunicazione tra i popoli avrebbe risolto in pochissimo
          tempo i problemi tra di loro.
        </p>
        <p>
          I più critici riflettevano che la felicità umana non era raggiungibile
          con l’avanzamento della tecnologia in questo caso con i cavi elettrici
          e i telegrafi. Invece i più cinici, vedevano nella telecomunicazione
          elettrica la nascita di un’opportunità di un mercato che si stava
          globalizzando ed assumendo forma diversa basata su uno scambio di
          informazioni incessante senza più limiti da cui trarre sempre più
          profitto.
        </p>
        <p>
          Qualunque sia la realtà la novità del telegrafo è innegabile.
          Nell’aria qualcosa era cambiata, tutto stava diventando elettrico. E
          l’epoca dell’informazione era ormai alle porte.
        </p>
      </article>
    </div>
  </div>
</div>
