<div class="scroller page p-01">
  <div class="mainContainer">
    <div class="containerFrame1">
      <div class="overlayM ov1M"></div>
      <div class="overlay2M ov2M"></div>
      <div class="Image-01">
        <div class="dioPadding">
          <div class="bookmarkFrame2"></div>
        </div>
      </div>
      <div class="textBookmark">
        <div class="controlTextBookMark">
          <div class="titleBookMark">
            <h2 class="titoloChappe">2. L'elettromagnetismo</h2>
          </div>
          <article>
            <p class="spanBookmark">Nel periodo storico che va tra il</p>
            <p class="spanBookmark">XVII e il XIX secolo ci fu una</p>
            <p class="spanBookmark">scoperta progressiva dell’elettricità.</p>
            <p class="spanBookmark">Questo fenomeno fisico, così misterioso</p>
            <p class="spanBookmark">e fino ad allora incompreso veniva</p>
            <p class="spanBookmark">finalmente analizzato dai più importanti</p>
            <p class="spanBookmark">scienziati dell’epoca.</p>
            <p class="spanBookmark">Sembrava esserci la volontà da parte</p>
            <p class="spanBookmark">della comunità scientifica di voler</p>
            <p class="spanBookmark">trovare a tutti i costi il modo di</p>
            <p class="spanBookmark">manipolare e soprattutto di conservare</p>
            <p class="spanBookmark">questa forza.</p>
            <p class="spanBookmark">Ma anche a questi pionieri non erano</p>
            <p class="spanBookmark">
              chiare le applicazioni dell’elettricità e
            </p>
            <p class="spanBookmark">molti si iniziarono a chiedere non che</p>
            <p class="spanBookmark">cosa fosse l’elettricità ma a cosa</p>
            <p class="spanBookmark">servisse.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperContentP1">
    <div class="backgroundContainerEM">
      <div class="frame backgroundEM">
        <img src="../public/imgTelegraph/magnetism1_background.png" alt="">
      </div>
    </div>
    <div class="textContainer textPage01M">
      <div class="controlText">
        <article class="introM">
          <p>
            Le cose cambiarono quando Michel Faraday e Herny Joseph
            investigarono e sperimentavano con più attenzione la correlazione
            che era stata già osservata tra l’elettricità e il magnetismo,
            all’epoca considerate due forze separate.
          </p>
          <p>
            Indipendentemente l’uno dall’altro questi scienziati compresero che
            l’elettricità che passava attraverso dei fili conduttori avvolti
            attorno ad un metallo produceva un campo magnetico in grado di
            attirare a se i metalli.
          </p>
          <p>
            Come Joseph Henry potè testare, avvolgendo sempre più fili
            l’intensità del campo magnetico aumentava a sua volta.
          </p>
        </article>
      </div>
    </div>
    <div class="textContainer textPage01M">
      <div class="controlText">
        <article class="introM">
          <p>
            Le cose cambiarono quando Michel Faraday e Herny Joseph
            investigarono e sperimentavano con più attenzione la correlazione
            che era stata già osservata tra l’elettricità e il magnetismo,
            all’epoca considerate due forze separate.
          </p>
          <p>
            Questa , oltre ad essere stata una delle scoperte più importanti
            della storia, ha posto le basi per la costruzione del telegrafo.
            Infatti, si poteva ora trovare un modo per comunicare a distanza
            sfruttando la possibilità di rendere visibile l’attrazione dei
            metalli a distanza, ma a differenza dei sistemi precedenti la
            comunicazione sarebbe stata immediata e su lunghissime distanze.
          </p>
        </article>
      </div>
    </div>
    <div class="containerFrame2M">
      <div class="frame3"></div>
      <div class="frame4"></div>
    </div>
  </div>
</div>

<!-- Pagina 2 -->
<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlTextMP2">
      <article>
        <p>
          Così come tanti nel 700 lavoravano per costruire i semafori ottici,
          nell’ottocento molti tentarono di costruire dei telegrafi appena
          scoperta la forza elettromagnetica. Quelli che riuscirono a rendere il
          loro prodotto commerciabile, furono gli inglesi William Fothergill
          Cooke e Charles Whatstone. Il loro five needle telegraph fu patentato
          il 12 giugno 1837, solo sei anni dopo l’esperimento di Faraday.
        </p>
        <p>
          Questo strumento utilizzava la forza elettromagnetica attraverso la
          quale si riusciva a far ruotare gli aghi. Il movimento di due di
          questi poteva isolare la lettera prescelta posta in una struttura ad
          albero come in figura.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2">
    <div class="gif2 intra">
      <img class="gifMorse" src="../public/imgTelegraph/needle.webm" alt="" />
    </div>
  </div>
</div>
<!-- Page 3 -->
<!-- PAGE 4 -->
<div class="scroller page p-03">
  <div class="textContainer textPage01">
    <div class="controlTextMP2">
      <article>
        <p>
          Sebbene il telegrafo riuscisse ad inviare 50 segnali al minuto i suoi
          costi elevati non lo fecero diventare un prodotto di massa. In più,
          nella prima metà dell’800, continuava a regnare il solito scetticismo
          sul telegrafo. A cosa può servire, si chiedevano i contemporanei di
          Wheatstone e Cooke?
        </p>
        <p>
          Un’utilità si trovò grazie al contemporaneo sviluppo della linea
          ferroviaria Inglese con la Great Western Company fondata nel 1833.
        </p>
        <p>
          I telegrafi sarebbero serviti a rendere più sicuro il passaggio dei
          treni. Il 9 aprile 1839 la prima linea telegrafica commerciale fu
          istallata tra le stazioni di Paddinton e West Drayton.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2Copy">
    <div class="frame7"></div>
  </div>
  <div class="backgroundContainerEM1">
    <div class="frame6 backgroundEM1">

        <img src="../public/imgTelegraph/magnetism_background2.png" alt="">
    </div>
  </div>
</div>
<!-- PAGINA 5 -->
<div class="scroller page p-04">
  <div class="textContainer textPage01">
    <div class="controlTextMP2">
      <article>
        <p>
          Dopo un primo successo con le compagnie ferroviarie, nel 1846 Cooke e
          Ricardo (dopo aver estromesso Wheatstone), fondarono la Electric
          Telegraph Company,la prima compagnia telegrafica della storia.
        </p>
        <p>
          C’è da dire che nel corso degli anni, molti altri inventori
          presentarono i loro modelli di telegrafi ma questi furono tutti
          soppressi. Infatti, Whestone e Cooke riuscivano ogni volta ad accusare
          questi scienziati di infringment della loro patente.
        </p>
      </article>
    </div>
  </div>
  <div class="textContainer textPage01">
    <div class="controlTextMP2">
      <article>
        <p>
          Tra gli inventori più temibili del periodo troviamo un certo Davy che
          sviluppò un suo relay e cercò di vendere il suo apparecchio alle
          compagnie ferroviarie. Ma non era l’unico che tentava di ottenere il
          riconoscimento del governo britannico.
        </p>
        <p>
          Ironia della sorte vuole che, in una lettera che inviò a suo padre nel
          1838 proprio Davy scrisse “ho notato un’altra applicazione per una
          patente richiesta da una persona che va col nome di Morse”.
        </p>
      </article>
    </div>
  </div>
</div>
