
    <section class="introSection">
      <div class="contentControl">
        <div class="containerIntro">
          <div class="containerIntroText">
            <article>
              <p>
                Per secoli l’umanità ha cercato modi innovativi per risolvere un
                difficile problema di comunicazione: come trasmettere un
                messaggio nel modo più rapido ed accurato possibile in uno
                spazio sempre più ampio?
              </p>
              <p>
                La velocità e l’accuratezza con cui arriva un’informazione
                rappresenta infatti un grande potere ed evidente vantaggio,
                basti pensare alla guerra.
              </p>
              <p>
                I messaggi di fuoco e fumo, se vogliamo dei precursori del
                sistema binario, servivano a questo preciso scopo. Un esempio
                facile: fuoco acceso segnalava un attacco imminente da parte del
                nemico e quindi si aveva il tempo necessario per preparare una
                difesa.
              </p>
              <p>
                Naturalmente questi metodi non potevano funzionare su
                grandissime distanze e il numero dei messaggi inviabili era
                molto limitato.
              </p>
            </article>
          </div>
          <div class="contentFrameIntro"><div class="introImage"><img src="../public/img/figureintro.png" alt=""></div></div>
        </div>
      </div>
    </section>