<div class="scroller page p-01">
  <div class="mainContainer">
    <div class="containerFrame1">
      <div class="overlayMr ov1Mr"></div>
      <div class="overlay2Mr ov2Mr"></div>
      <div class="Image-01">
        <div class="dioPadding">
          <div class="bookmarkFrame3"></div>
        </div>
      </div>
      <div class="textBookmark">
        <div class="controlTextBookMark">
          <div class="titleBookMark">
            <h2 class="titoloChappe">3. Il telegrafo di Morse</h2>
          </div>
          <article>
            <p class="spanBookmark">Cosa aveva il telegrafo di Morse che</p>
            <p class="spanBookmark">
              gli altri nello stesso periodo non avevano?
            </p>
            <p class="spanBookmark">non avevano?</p>
            <p class="spanBookMark">L’utilizzo di un codice binario.</p>
            <p class="spanBookmark">Morse comprese che la chiave per</p>
            <p class="spanBookmark">rendere praticabile la comunicazione</p>
            <p class="spanBookmark">a distanza non si trovava solo nella</p>
            <p class="spanBookmark">semplicità dello strumento, ma nella</p>
            <p class="spanBookmark">semplicità del messaggio.</p>
            <p class="spanBookmark">E la logica degli antichissimi codici</p>
            <p class="spanBookmark">binari si adattava perfettamente a</p>
            <p class="spanBookmark">questo scopo.</p>
            <p class="spanBookmark">
              Il suo contributo nella 
            </p>
            <p class="spanBookmark">telecomunicazioni fu fundamentale.</p>
            <p class="spanBookmark">Capì a perfezione la sua epoca e</p>
            <p class="spanBookmark">intuí qual’era il medium che avrebbe</p>
            <p class="spanBookmark">
               utilizzato di più il suo telegrafo:
            </p>
            <p class="spanBookmark"> il giornale.</p>
          </article>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapperContentP1T">
    <div class="backgroundContainerEM">
      <div class="frame9 backgroundEM"></div>
    </div>
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            Samuel Morse era pittore di professione ma aveva una grandissima
            fascinazione per la tecologia. Fu lui ad esempio che introdusse
            negli Stati Uniti il dagherrotipo dopo averlo scoperto durante un
            viaggio in Europa. Nel 1832 si interessò all’elettromagnetismo e da
            questo momento i suoi forzi si concentrarono nella costruzione di un
            telegrafo. Fu il suo conoscente professore di chimica
          </p>
        </article>
      </div>
    </div>
    <div class="textContainer textPage01T">
      <div class="controlText">
        <article class="introM">
          <p>
            Gale che gli fece scoprire il lavoro di Joseph Herry ed in
            particolare il suo relay, capace di inviare impulsi a grande
            distanza. Morse insieme a Gale e Alfred Vail costruirono quindi il
            famoso telegrafo elettromagnetico durante il 1837 che venne poi
            testato per la prima volta nel 1838.
          </p>
        </article>
      </div>
    </div>
    <div class="containerFrame2M">
      <div class="frame8"></div>
    </div>
  </div>
</div>

<!-- Pagina 2 -->
<div class="scroller page p-02">
  <div class="textContainer textPage01">
    <div class="controlTextMP2">
      <article>
        <p>
          Come possiamo vedere dall’immagine a destra,lo strumento é composto da
          due dispositivi. Il primo viene chamato chiave ed è quelo che invia i
          segnali di un messaggio abbasando la levetta che apre e chiude un
          circuito elettrico.
        </p>
        <p>
          L’impulso elettrico viene ricevuto dal secondo dispositivo, chiamato
          “registro”, dove un braccio di legno collegato ad un metallo viene
          attirato o respinto da un elettromagnete. Questo braccio ha alla sua
          estremità un ago che registrerà su un nastro di carta i tratti punto e
          linea.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2">
    <div class="gif3 intra">
      <img src="../public/img/morsegif.gif" alt="" />
    </div>
  </div>
</div>
<!-- Page 3 -->
<div class="scroller page p-03">
  <div class="backgroundContainerMr">
    <div class="frame5 backgroundMr"></div>
  </div>
  <div class="textContainer textPage01T">
    <div class="controlTextMP2">
      <article>
        <p>
          Forse ancora più rivoluzianario fu però l’invenzione del codice
          sviluppato proprio in quegli anni. E tutto grazie ad una geniale
          intuizione di Morse.
        </p>
        <p>
          Egli insieme a Veil si recò presso una tipografia e si misero a
          misurare la frequenza con cui le lettere venivano usate dai tipografi.
          Alle lettere di uso più frequente sarebbero stati assegnati segnali
          più brevi (alla e ed alla t , le lettera più utilizzate nella lingua
          inglese furono assegnate rispettivamente un punto ed una linea).
        </p>
        <p>
          Il codice era semplice, l’unico problema era che per inviare un
          messaggio in modo corretto bisognava farlo con perfetta
          sincronizzazione contando il tempo che intercorre tra i punti, le
          linee e i vari spazi.
        </p>
        <p>
          Invece di focalizzarsi sulla traduzione di ogni lettera dell’alfabeto
          in un simbolo diverso come facevano gli altri telegrafi, Morse capì
          che bastava formare un personale che fosse in grado di scrivere e
          leggere il suo codice.
        </p>
        <p>
          Una volta fatto questo ogni comunicazione poteva essere effettuata con
          grande immediatezza. In definitiva fu proprio il codice di Morse ad
          essere l’elemento che rese questo telegrafo il vincitore nella storia.
        </p>
      </article>
    </div>
  </div>
  <div class="containerFrame2M">
    <div class="frame9"></div>
  </div>
</div>
<!-- PAGE 4 -->
<div class="scroller page p-04">
  <div class="backgroundContainerMr1">
    <div class="frame10 backgroundMr1"></div>
  </div>
  <div class="textContainer textPage01T">
    <div class="controlTextMP2">
      <article>
        <p>
          Eppure, Samuel Morse non riuscì a diffondere il suo telegrafo senza
          problemi. Gli ostacoli erano molteplici. In Inghilterra, per esempio
          il suo telegrafo non fu accettato a causa della patente di Wheatstone
          e Cooke, la Francia non era interessata e anche negli stati Uniti
          l’operazione di vendita non fu affatto semplice. Vi erano molti
          telegrafi erano in commercio. Morse riuscì dopo tante cause ad
          ottenere la patente nel 1851, sopprimendo le alternative.
        </p>
        <p>
          Così nel 1853 le poste del governo degli stati Uniti acquistarono per
          primi i diritti di sfruttamento delle linee telegrafiche ma presto
          anche loro dichiaraono di non riuscire trovare un interesse più
          generale sul telegrafo. In maniera non molto lungimirante, e si
          preferì consegnare ai business privati tutta la futura economia della
          telecomunicazione.
        </p>
      </article>
    </div>
  </div>
  <div class="textContainer textPage01T">
    <div class="controlTextMP2">
      <article>
        <p>
          Infatti, se l’invio di intelligence immediato non sembrava essere
          fruttuoso per il governo , altri, ossia i giornalisti, videro in
          questo delle oppurtunità . I giornali afferrarono presto l’importanza
          di ottenere le informazioni prima dei loro competitors e grazie al
          telegrafo il giornalismo cambiò natura. Nacque il mercato dello
          “scoop”: il giornale che pubblicava per primo le notizie si assicurava
          vendite più alte rispetto agli altri. Le notizie vecchie non erano più
          considerate notizie, non avevano valore economico.
        </p>
        <p>
          La necessità della messaggistica istantanea faceva aumentare le
          opportunità anche ad un’altra categoria, quella degli investirtori di
          mercato per i quali inviare e ricevere informazioni per primi poteva
          rappresentare un netto vantaggio. Fu così che in meno di mezzo secolo
          si trovò il motivo, al di fuori della di guerra, per cui la
          telecomunicazione era da ritenere veramente necessaria : la
          circolazione del denaro!
        </p>
      </article>
    </div>
  </div>
</div>
